.notification-content {
  position: relative;
  margin-top: 20px;
  margin-right: 10px;
}

.notification-content svg {
  cursor: pointer;
  color: var(--color-main-text);
}

.notification-list {
  position: absolute;
  width: 260px;
  left: calc(50% - 130px);
  top: calc(50% + 30px);
  background: #FFF;
  border-radius: 4px;
  padding: 20px;
}

.notification-list::before {
  content: '';
  position: absolute;
  left: calc(50% - 5px);
  top: -20px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 20px solid #FFF;
}

.notification + div {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.notification p {
  font-size: 13px;
  line-height: 18px;
}

.notification time {
  font-size: 12px;
  opacity: 0.6;
}

.notification button {
  font-size: 12px;
  border: 0;
  background: none;
  background-color: #C2F2F1;
  padding: 0 5px;
  margin: 0 5px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  transition: filter 0.5s;
}

.notification button:hover {
  filter: brightness(90%);
}