.content-profile {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;  
  margin-left: 300px;
}

.content-profile form {
  display: flex;
  flex-direction: column;
  width: 800px;
  align-self: center;
}

.content-profile form input {
  color: var(--color-main-text);
}