.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  max-width: 300px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

form input {
  height: 50px;
  background: #FFF;
  border: 1px solid #B2B2B2;
  box-sizing: border-box;
  border-radius: 7px;
  margin: 0 0 10px;
  padding: 0 15px;
}

form span {
  color: var(--color-text-error-validation);
  align-self: flex-start;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

form button {
  height: 50px;
  border-radius: 7px;
  border: 0;
  font-size: 16px;
  color: #FFF;
  background: var(--color-button);
  margin: 5px 0 0;
  transition: filter 0.2s;
}

form button:hover {
  filter: brightness(90%);
}

form h1 {
  color: var(--color-main-text);
  font-size: 24px;
  margin-bottom: 10px;
}

form a {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  color: var(--color-main-text);
  text-decoration: none;
  font-weight: bold;
  transition: opacity 0.2s;
}

form a svg {
  margin-right: 8px;
}

form a:hover {
  opacity: 0.8;
}

/* SIDEBAR MENU */
.sidebar-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  background: var(--color-main-system);
}

.user-container {
  display: flex;
  justify-content: space-between;
  height: 65px;
  margin-top: 10px;
}

.user-container span {
  margin-left: 5px;
  align-self: center;
  color: var(--color-main-text);
}

.avatar-container {
  display: flex;
  margin-left: 10px;
}

.avatar-container div {
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.avatar-container div:hover {
  transform: scale(1.1, 1.1);
}

.avatar-container a:link {
  text-decoration: none;
}

.avatar-container a:visited  {
  text-decoration: none;
}

.avatar-container a:hover {
  text-decoration: none;
}

.avatar-container a:active {
  text-decoration: none;
}

/* Fade in the pseudo-element with the bigger shadow */
.avatar-container img:hover::after {
  opacity: 1;
}

.sidebar-menu hr {
  width: 90%;
  align-self: center;
  color: #FFF;
  border: 1px solid;
}

.sidebar-menu ul {
  display: flex;
  flex-direction: column;
}

.sidebar-menu ul li:first-child {
  margin-top: 15px;
  margin-left: 15px;
  list-style: none;
}

.sidebar-menu ul li {
  margin-top: 12px;
  margin-left: 15px;
  list-style: none;
}

.sidebar-menu ul li a:link {
  text-decoration: none;
  color: var(--color-main-text);
}

.sidebar-menu ul li a:visited  {
  text-decoration: none;
  color: var(--color-main-text);
}

.sidebar-menu ul li a:hover {
  text-decoration: none;
  color: var(--color-button);
}

.sidebar-menu ul li a:active {
  text-decoration: none;
  color: var(--color-main-text);
}